<!DOCTYPE html>
<html>
   <head>
      <title>Sequin Report</title>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://use.fontawesome.com/6c8fb3a849.js"></script>
      __CSS__
   </head>
   <body>
      <div id="x-root" class="x-root">
         <div id="top" class="site">
            <div class="x-main full" role="main">
               <article id="post-8544" class="page type-page hentry">
                  <div class="entry-content content">
                     <div id="cs-content" class="cs-content">
                        <div id="x-section-1" class="x-section"
                           style="margin: 0px;padding: 0px; background-color: transparent;">
                           <div class="x-section"
                              style="margin: 20px 0px;padding: 0px; background-color: transparent;"></div>
                           <div class="x-container max width" style="padding: 0px;">
                              <div class="x-column x-sm x-1-1" style="padding: 0px;">
                                 <div class="x-text">
                                    <h5><strong><span style="color: #000000;">Sequin Report</span></strong>
                                    </h5>
                                    <p><span style="color: #999999;">__Date__ (automatic generation)</span>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">ANALYSIS</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <tbody>
                                                      <tr>
                                                         <td class='td-300'>Mixture</td>
                                                         <td class='acell'>__Sequin mixture__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Reference index</td>
                                                         <td class='acell'>__Reference index__</td>
                                                      </tr>													  
                                                      <tr>
                                                         <td class='td-300'>Reference regions</td>
                                                         <td class='acell'>__Reference regions__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Calibration regions</td>
                                                         <td class='acell'>__Calibration regions__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Input alignment file</td>
                                                         <td class='acell'>__Input alignment file__</td>
                                                      </tr>													  
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">LIBRARY DETAILS</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <tbody>
                                                      <tr>
                                                         <td class='td-300'>Instrument ID</td>
                                                         <td class='acell'>__Instrument ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Run number</td>
                                                         <td class='acell'>__Run number__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Flowcell ID</td>
                                                         <td class='acell'>__Flowcell ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='td-300'>Lane</td>
                                                         <td class='acell'>__Lane__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SEQUENCING ERRORS</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Total</td>
                                                         <td class='acell'>__Total__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Mismatch</td>
                                                         <td class='acell'>__Mismatch__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Transitions/Transversions</td>
                                                         <td class='acell'>__Transitions/Transversions__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Insertion</td>
                                                         <td class='acell'>__Insertion__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Deletion</td>
                                                         <td class='acell'>__Deletion__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Coding</td>
                                                         <td class='acell'>__Coding__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Noncoding</td>
                                                         <td class='acell'>__Noncoding__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SEQUIN CALIBRATION</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                    <tbody>
                                                      <tr>
                                                         <td class='ahead'>Total alignments</td>
                                                         <td class='acell'>__Total alignments__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sample alignments; fraction</td>
                                                         <td class='acell'>__Sample alignments; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sample mean coverage; CV</td>
                                                         <td class='acell'>__Sample mean coverage; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sequin alignments; fraction</td>
                                                         <td class='acell'>__Sequin alignments; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sequin mean coverage before calibration; CV</td>
                                                         <td class='acell'>__Sequin mean coverage before calibration; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sequin mean coverage after calibration; CV</td>
                                                         <td class='acell'>__Sequin mean coverage after calibration; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Synthetic ladder alignments; fraction</td>
                                                         <td class='acell'>__Synthetic ladder alignments; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Vector alignments; fraction</td>
                                                         <td class='acell'>__Vector alignments; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sequin dilution</td>
                                                         <td class='acell'>__Sequin dilution__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">COPY-NUMBER VARIATION</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Slope</td>
                                                         <td class='acell'>__Slope__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>R2</td>
                                                         <td class='acell'>__R2__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>1n (deletion) coverage; CV</td>
                                                         <td class='acell'>__1n (deletion) coverage; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>2n (diploid) coverage; CV:</td>
                                                         <td class='acell'>__2n (diploid) coverage; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>4n (amplification) coverage; CV</td>
                                                         <td class='acell'>__4n (amplification) coverage; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>8n (amplification) coverage; CV</td>
                                                         <td class='acell'>__8n (amplification) coverage; CV__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Mean ratio between 1,2,4,8n</td>
                                                         <td class='acell'>__Mean ratio between 1,2,4,8n__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>								 
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SOMATIC VARIANTS</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div class='soma'>
                                                <div>
                                                   <table>
                                                      <tbody>
                                                         <tr>
                                                            <td class='td-300'>Slope</td>
                                                            <td class='acell'>__Quantitative accuracy (slope)__</td>
                                                         </tr>
                                                         <tr>
                                                            <td class='td-300'>R2</td>
                                                            <td class='acell'>__Quantitative accuracy (correlation)__</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                                <div>
                                                   <img onerror='this.style.display = "none"'src="__F1__" class="graph">
                                                </div>
                                                <div style='margin-top:10px;margin-bottom:10px;margin-left:0px;margin-right:0px;text-align:justify'>
                                                   <b>Figure Above.</b> Scatter-plot illustrates the observed vs expected allele frequency measaured for sequin variants.
                                                </div>
												<div>__T1__</div>				
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </div>
      <script>
         $(function() {
            $(".x-accordion-heading").on("click", function() {
                var el = $(this).parent().find(".x-accordion-body"), collapsed = $(this).parent().find(".x-accordion-toggle");
                el.slideToggle(300);
                if (collapsed.hasClass("collapsed")) {
                    collapsed.removeClass("collapsed");
                } else {
                    collapsed.addClass("collapsed");
                }
            });
         });
      </script>
   </body>
</html>
<!-- <<@@@@>> -->
