<!DOCTYPE html>
<html>
   <head>
      <title>Sequin Report</title>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://use.fontawesome.com/6c8fb3a849.js"></script>
	   __CSS__
   </head>
   <body>
      <div id="x-root" class="x-root">
         <div id="top" class="site">
            <div class="x-main full" role="main">
               <article id="post-8544" class="page type-page hentry">
                  <div class="entry-content content">
                     <div id="cs-content" class="cs-content">
                        <div id="x-section-1" class="x-section"
                           style="margin: 0px;padding: 0px; background-color: transparent;">
                           <div class="x-section"
                              style="margin: 20px 0px;padding: 0px; background-color: transparent;"></div>
                           <div class="x-container max width" style="padding: 0px;">
                              <div class="x-column x-sm x-1-1" style="padding: 0px;">
                                 <div class="x-text">
                                    <h5><strong><span style="color: #000000;">Sequin Report</span></strong>
                                    </h5>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">ANAQUIN - library and analysis details</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div id='refs'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class="ahead" colspan='2'>1. ANALYSIS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Date</td>
                                                         <td class="acell">__Date__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Anaquin version</td>
                                                         <td class="acell">__Anaquin version__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Command</td>
                                                         <td class="acell">__Command__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin mixture</td>
                                                         <td class="acell">__Sequin mixture__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Mixture type</td>
                                                         <td class="acell">__Mixture type__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Reference index</td>
                                                         <td class="acell">__Reference index__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Reference regions</td>
                                                         <td class="acell">__Reference regions__</td>
                                                      <tr>
                                                         <td class="ahead">Sample reads path</td>
                                                         <td class="acell">__Sample reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin reads path</td>
                                                         <td class="acell">__Sequin reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Calibrated reads path</td>
                                                         <td class="acell">__Calibrated reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Anaquin k-mer length</td>
                                                         <td class="acell">__Anaquin k-mer length__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Threshold</td>
                                                         <td class="acell">__Threshold__</td>
                                                      </tr>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>											 
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class="ahead" colspan='2'>2. LIBRARY DETAILS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Instrument ID</td>
                                                         <td class="acell">__Instrument ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Run number</td>
                                                         <td class="acell">__Run number__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Flowcell ID</td>
                                                         <td class="acell">__Flowcell ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Lane</td>
                                                         <td class="acell">__Lane__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>											 
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class="ahead" colspan='2'>3. LIBRARY FRACTIONS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Sample reads; fraction</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Sample reads; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin reads; fraction</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Sequin reads; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Ladder reads; fraction</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Ladder reads; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Vector reads; fraction</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Vector reads; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Trimmed reads; fraction</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Trimmed reads; fraction__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Total reads</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Total reads__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin dilution</td>
                                                         <td class="acell">__3. LIBRARY FRACTIONS-Sequin dilution__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th colspan='2' style="">CALIBRATION SUMMARY</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Sequin calibration</td>
                                                         <td class="partb">__Sequin calibration__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin calibration factor</td>
                                                         <td class="partb">__Sequin calibration factor__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Sequin reads after calibration</td>
                                                         <td class="partb">__Sequin reads after calibration__</td>
                                                      </tr>													  
                                                      <tr>
                                                         <td class="ahead">Ladder reads after calibration</td>
                                                         <td class="partb">__Ladder reads after calibration__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Calibrated ladder reads</td>
                                                         <td class="partb">__Calibrated ladder reads__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Total reads after calibration</td>
                                                         <td class="partb">__Total reads after calibration__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">LADDER - LIBRARY QUALITY</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <img onerror='this.style.display = "none"' src="__F1__" class="graph2">
                                                <img onerror='this.style.display = "none"' src="__F2__" class="graph">
                                             </div>
                                             <div>
												<b>Figure Above.</b> Scatter-plot illstrates the k-mer counts relative to the copy-number for the synthetic ladders. <b>(middle)</b> Density plot illstrates the distribution of k-mers for each copy-number within the synthetic ladder. (red=1cn, yellow=2cn, green=3cn, blue=4cn).
                                             </div>
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <thead>
                                                      <tr>
                                                         <th class="ahead" colspan='2'>LADDER - LIBRARY QUALITY</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Slope</td>
                                                         <td class="acell">__5. LADDER - LIBRARY QUALITY-Slope__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">R2</td>
                                                         <td class="acell">__5. LADDER - LIBRARY QUALITY-R2__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">Mean Ratio</td>
                                                         <td class="acell">__5. LADDER - LIBRARY QUALITY-Mean Ratio__</td>
                                                      </tr>													  
                                                   </tbody>
                                                </table>
                                                <table style='margin-top:20px'>
                                                      __T1__
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SEQUIN QUANTIFICATION</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <img onerror='this.style.display = "none"' src="__F3__" class="graph">
                                             </div>
                                             <div>
                                                <b>Figure Above.</b> Scatter-plot provides a quantitive description of meta sequin performance in this library, The scatter plot shows the expected abundance (normalised value, log 2) relative to measured abundance (read count, log2).
The senstivity, limit of detection, and measurement uncertainty can be interpreted from this graph.
                                             </div>
                                             <div>
                                                <table style="margin-top:20px">
                                                   <thead>
                                                      <tr>
                                                         <th class="ahead" colspan='2'>META SEQUIN SUMMARY STATS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class="ahead">Slope</td>
                                                         <td class="acell">__6. SEQUIN QUANTIFICATION-Slope__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="ahead">R2</td>
                                                         <td class="acell">__6. SEQUIN QUANTIFICATION-R2__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <table class="ttab">
                                                   __T2__
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion" style="display:none">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SEQUENCING ERRORS</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead'></th>
                                                         <th class='acell'>COUNT; PER_BASE; REGION_SIZE</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Total</td>
                                                         <td class='acell'>__Total__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Mismatch</td>
                                                         <td class='acell'>__Mismatch__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Transitions/Transversions</td>
                                                         <td class='acell'>__Transitions/Transversions__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Insertion</td>
                                                         <td class='acell'>__Insertion__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Deletion</td>
                                                         <td class='acell'>__Deletion__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </div>
      <script>
          $(function() {
             $(".x-accordion-heading").on("click", function() {
                 var el = $(this).parent().find(".x-accordion-body"), collapsed = $(this).parent().find(".x-accordion-toggle");
                 el.slideToggle(300);
                 if (collapsed.hasClass("collapsed")) {
                     collapsed.removeClass("collapsed");
                 } else {
                     collapsed.addClass("collapsed");
                 }
             });
          });
      </script>
   </body>
</html>
<!-- <<@@@@>> -->
