<!DOCTYPE html>
<html>
   <head>
      <title>Sequin Report</title>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://use.fontawesome.com/6c8fb3a849.js"></script>
      __CSS__
   </head>
   <body>
      <div id="x-root" class="x-root">
         <div id="top" class="site">
            <div class="x-main full" role="main">
               <article id="post-8544" class="page type-page hentry">
                  <div class="entry-content content">
                     <div id="cs-content" class="cs-content">
                        <div id="x-section-1" class="x-section"
                           style="margin: 0px;padding: 0px; background-color: transparent;">
                           <div class="x-section"
                              style="margin: 20px 0px;padding: 0px; background-color: transparent;"></div>
                           <div class="x-container max width" style="padding: 0px;">
                              <div class="x-column x-sm x-1-1" style="padding: 0px;">
                                 <div class="x-text">
                                    <h5><strong><span style="color: #000000;">Sequin Report</span></strong>
                                    </h5>
                                    <p><span style="color: #999999;">__Date__ (automatic generation)</span>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">ANAQUIN - library and analysis details</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div id='refs'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>REFERENCE FILES</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Sequin index</td>
                                                         <td class='acell'>__Reference index__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>LIBRARY INFORMATION</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Version</td>
                                                         <td class='acell'>__Version__</td>
                                                      </tr>													   
                                                      <tr>
                                                         <td class='ahead'>Instrument ID</td>
                                                         <td class='acell'>__Instrument ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Run number</td>
                                                         <td class='acell'>__Run number__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Flowcell ID</td>
                                                         <td class='acell'>__Flowcell ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Lane</td>
                                                         <td class='acell'>__Lane__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div id='user'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>USER-SUPPLIED FILES</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Input file (first)</td>
                                                         <td class='acell'>__Input file (first)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Input file (second)</td>
                                                         <td class='acell'>__Input file (second)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Input file (third)</td>
                                                         <td class='acell'>__Input file (third)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Input file (fourth)</td>
                                                         <td class='acell'>__Input file (fourth)__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div id='params'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspane=2>ANAQUIN PARAMETERS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>K-mer length</td>
                                                         <td class='acell'>__K-mer length__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Threshold</td>
                                                         <td class='acell'>__Threshold__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div id='params'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspane=2>NORMALIZATION SUMMARY</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Dilution (sample 1)</td>
                                                         <td class='acell'>__Dilution (sample 1)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Dilution (sample 2)</td>
                                                         <td class='acell'>__Dilution (sample 2)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Scaling factor (sample 1)</td>
                                                         <td class='acell'>__Scaling factor (sample 1)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Scaling factor (sample 2)</td>
                                                         <td class='acell'>__Scaling factor (sample 2)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Common scaling factor</td>
                                                         <td class='acell'>__Common scaling factor__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>K-mers table</td>
                                                         <td class='acell'>__K-mers table__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">LADDER NORMALISATION</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                             <div>
                                                <div>
                                                   <table>
                                                      <tbody>
                                                         <tr>
                                                            <td class='ahead'>Slope (before normalisation)</td>
                                                            <td class='acell'>__Slope (before normalisation)__</td>
                                                         </tr>
                                                         <tr>
                                                            <td class='ahead'>R2 (before normalisation)</td>
                                                            <td class='acell'>__R2    (before normalisation)__</td>
                                                         </tr>
                                                         <tr>
                                                            <td class='ahead'>Slope (after normalisation)</td>
                                                            <td class='acell'>__Slope (after normalisation)__</td>
                                                         </tr>
                                                         <tr>
                                                            <td class='ahead'>R2 (after normalisation)</td>
                                                            <td class='acell'>__R2    (after normalisation)__</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                                <div>
                                                   <img onerror='this.style.display = "none"'src="__F1__" class="graph">
                                                   <img onerror='this.style.display = "none"'src="__F2__" class="graph">
                                                </div>
                                                <div style='margin-top:10px;margin-bottom:10px;margin-left:0px;margin-right:0px;text-align:justify'>
                                                   <b>Figure Above.</b> Scatter-plot illustrates the ladder sequins before and after calibration.
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </div>
      <script>
         $(function() {
            $(".x-accordion-heading").on("click", function() {
                var el = $(this).parent().find(".x-accordion-body"), collapsed = $(this).parent().find(".x-accordion-toggle");
                el.slideToggle(300);
                if (collapsed.hasClass("collapsed")) {
                    collapsed.removeClass("collapsed");
                } else {
                    collapsed.addClass("collapsed");
                }
            });
         });
      </script>
   </body>
</html>
<!-- <<@@@@>> -->
